<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428792188047-b3c5nnmnv9468iiv6ofqgq8oes0siise.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428792188047-b3c5nnmnv9468iiv6ofqgq8oes0siise</string>
	<key>API_KEY</key>
	<string>AIzaSyDI0zj-Io1tN3rBSWFAHbW-1xtDIJ2mpNI</string>
	<key>GCM_SENDER_ID</key>
	<string>428792188047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmaroche.CGA.PocketStudy</string>
	<key>PROJECT_ID</key>
	<string>pocketstudyiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketstudyiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428792188047:ios:adc95c22763cf0bbe274fa</string>
</dict>
</plist>